@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-white-blue-light: #fafbff;
  --color-white-blue: #f0f5ff;
  --color-purple-light: #d6d9e6;
  --color-purple: #473dff;
  --color-grey: #9699ab;
  --color-blue: #adbeff;
  --color-blue-light: #bfe2fd;
  --color-blue-dark: #02295a;
  --color-red: #ed3548;
}